@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3e6990;
  text-align: center;
  overflow-x: hidden;
}

h1 {
  color: #f7dad9;
  margin-top: 1rem;
  font-size: 4rem;
  font-family: "VT323", monospace;
}

#turn-indicator {
  color: #f7dad9;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 65vmin;
  width: 65vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5vmin;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  padding: 2vmin;
}

.box {
  font-family: "Audiowide", monospace;
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #381d2a;
  cursor: pointer;
  background-color: #e9e3b4;
}

.box:hover:not(:disabled) {
  background-color: #e9e3b4;
  transform: scale(1.05);
  transition: all 0.2s ease;
}
.box:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

#reset-btn,
#new-btn {
  font-family: "VT323", monospace;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #f39b6d;
  color: #fff;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

#reset-btn:hover {
  opacity: 80%;
}

.result-container {
  height: 100vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

#result {
  color: #e9e3b4;
  font-size: 5vmin;
  margin-bottom: 0.75rem;
}

.hide {
  display: none;
}

.winner {
  background-color: #9ef09e;
  animation: winner-glow 1s infinite alternate;
}

@keyframes winner-glow {
  from {
    box-shadow: 0 0 5px #aefcae;
  }
  to {
    box-shadow: 0 0 10px #6be66b;
  }
}

footer {
  margin-top: 2rem;
}

#footer-text {
  color: #f7dad9;
  font-size: 1rem;
  text-align: center;
  opacity: 0.8;
  transition: transform 0.2s ease;
}

#footer-text:hover {
  transform: scale(1.05);
  opacity: 1;
  overflow-y: hidden;
}

@media (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }

  .container {
    height: 70vmin;
  }

  #reset-btn,
  #new-btn {
    font-size: 1.5rem;
    padding: 0.7rem;
  }

  #turn-indicator {
    font-size: 1rem;
  }

  footer {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
}
